body,html{
  height: 100%;
  width: 100%;
  background-color: black;
  scroll-behavior: smooth;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
#root{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  width: 80%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill,250px);
  grid-auto-rows: 10px;
  overflow-y: scroll;
  justify-content: center;
}
.container::-webkit-scrollbar {
  display: none;
}
.container {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.card{
  border-radius: 1rem;
  background-color: red;
  margin: 0.5rem; 
}
.small{
  grid-row-end: span 26;
  background-color: lime;
}
.medium{
  grid-row-end: span 33;
  background-color: rgb(249, 65, 65);
}
.big{
  grid-row-end: span 45;
  background-color: rgb(62, 110, 255);
}

.empty{
  color: white;
  font-size: 2rem;
  text-align: center;
  font-weight: 500;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  opacity: 0.6;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}